html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol {
    list-style: dot;
}

ul {
    list-style-type: disc;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

/*table {
    border-collapse: collapse;
    border-spacing: 0;
}
*/

/*separate=each border have*/
table {
    border-collapse: separate;
    -webkit-border-horizontal-spacing: 2px;
    -webkit-border-vertical-spacing: 2px;
}

text,
a,
h1,
h2,
h3,
h4,
h5,
li,
td,
th,
span,
p {
    font-family: 'Noto Sans TC', sans-serif 'Arial, Helvetica', sans-serif 'CwTexKai', sans-serif;
}

/*PS,  <link>rel="stylesheet" href=" "  寫在html內,  @import url(" " )   寫在css內*/
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/*中粗度,瘦長標題字*/
@import url("https://fonts.googleapis.com/css?family=Noto+sans+TC:100,200,400,500,600,700,800,900&display=swap");
/*思源正黑體英文,   code: font-family: "Noto sans TC", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100,300,500,400i,700,900&display=swap");
/*adobel中組體英文,  code:  font-family:"Roboto", sans-serif*/

@import url("https://fonts.googleapis.com/earlyaccess/cwtexkai.css");
/*adobe楷體中文  ,code: font-family: "cwTeKai", serif; */

@import url("https://fonts.googleapis.com/earlyaccess/cwtexming.css");
/*adobe明細體中文,  code: font-family:"cwTeMing", serif*/

img,
input[type="image"],
video,
embed,
iframe,
marquee,
object,
table {
    aspect-ratio: attr(width) / attr(height);
}

img {
    width: 100%;
    object-fit: cover;
    vertical-align: middle;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*border-box,是把box全包在內,包含margin,padding*/
* {
    box-sizing: border-box;
}

body{
   background-image:linear-gradient(45deg, #7d6161 ,#dadada, #808080);
   font-family: 'Rotobo',sans-serif;
   display:flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height:100vh;
   margin:0;
   overflow: hidden;
}
:root{
    --border-color:#03bbfee6;
    --background-color-1: #f5ecec;
}

.container{
    text-align: center;
    border:0.5px solid #faf1f1;
    max-width:100%;
    width:450px;
    height:auto;
    padding:40px 15px 10px;
}
.progress-container{
    display:flex;
    justify-content: space-between;
    position:relative;
    margin-bottom: 30px;
    /* line-height: 30px; */
    max-width:100%;
    width:400px;

}
.progress-container::before{
    content:'';
    background-color: var(--background-color-1);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 100%;
    z-index: -1;
    transform: translateY(-50%);
    transition: 0.5s ease;
        
}
.progress{
    background-color: var(--border-color);
    position:absolute;
    top:50%;
    left:0;
    height:4px;
    width:0%;
    z-index: -1;
    transform: translateY(-50%);
    transition:0.5s ease;
}
.circle{
    background-color: var(--background-color-1);
    color:#808080;
    height:30px;
    width:30px;
    border-radius:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    border:2px solid #808080;
    transition:0.5s ease;
    position:relative;
}
.circle.active {
    border:2px solid var(--border-color);
}
#circle-1::before{
    content:'confirm order';
    font-size: 10px;
    color: #808080;
    transform:translate(-10px, -40px);
    width:100%;
   position:absolute;
} 
#circle-2::before {
    content: 'Products sent';
    font-size: 10px;
    color: #808080;
    transform: translate(-10px, -40px);
    width: 100%;
    position: absolute;
}
#circle-3::before {
    content: 'products arrived';
    font-size: 10px;
    color: #808080;
    transform: translate(-10px, -40px);
    width: 100%;
    position: absolute;
}
#circle-4::before {
    content: 'Procedure completed';
    font-size: 10px;
    color: #808080;
    transform: translate(-10px, -40px);
    width: 100%;
    position: absolute;
}
/*adove is circle-text style*/
.btn{
    background-color: var(--border-color);
    color:#301c58;
    border-radius: 5px;
    margin-left:10px;
    padding:8px 30px;
    font-size: 14px;
    border:0;
    box-shadow: 1px 1px 3px 0 #808080;
    cursor: pointer;
}
.btn:active{
    transform: scale(0.95);
    border:1px solid #270172;
}
.btn:disabled{
    background-color:var(--background-color-1) ;
    cursor:not-allowed;
}
